.body-dark{
    background-color: var(--body-dark);
}
.body-dark::-webkit-scrollbar{
	width: 9px;
	background-color: var(--border-color);
    cursor: pointer;
    border-radius: 10px;
}
.body-dark::-webkit-scrollbar-thumb{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(255,255,255,.05);
	box-shadow: inset 0 0 6px rgba(255,255,255,.05);
    background-color: rgba(255,255,255,.05);
	border-right: 10px solid rgba(255,255,255,.05);
}
.body-dark::-webkit-scrollbar-thumb:hover,
.body-dark::-webkit-scrollbar-thumb:active {
  background-color: var(--dark);
}
.main-header{
    height: calc(var(--header-height) - .5rem);
    background-color: var(--dark);
    border-bottom: 1px solid var(--border-color);
    padding: 0 1rem;
    position: fixed;
    top: 0;
    width: 100%;
    transition: all .25s;
}
.btn-menu,
.btn-aside{
    background-color: transparent;
    margin: 0;
    padding: 0;
}
.btn-menu-icon,
.btn-aside-icon{
    width: 24px;
    height: 24px;
    margin: 0;
}
.logo{
    height: 2rem;
    width: auto;
}
.search-input{    
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.search-input::placeholder{
    color: var(--text-color-alt);
    font-size: var(--smaller-font-size);
}
[type=search] {
    background: var(--dark-50) url(../assets/img/public/static/icon-search.svg) center right 1rem /1rem no-repeat!important;
    border: 1px solid var(--border-dark-color);
    line-height: 1.6;
    font-family: Open Sans,sans-serif;
    font-size: var(--small-font-size);
    color: var(--text-color);
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
    width: 100%;
}
[type=search]:not(:placeholder-shown):hover,
[type=search]:not(:placeholder-shown):focus{
    background: var(--dark-50) !important;
}
[type=search]:not(:focus){
    background: var(--dark-50) url(../assets/img/public/static/icon-search.svg) center right 1rem /1rem no-repeat!important;
}
.aside-menu{
    background-color: var(--dark);
    position: fixed;
    width: 100%;
    overflow: hidden;
    left: 0;
    bottom: 0;
    height: calc(var(--header-height) - .5rem);
    padding: 0 1rem;
    border-top: 1px solid var(--border-color);
    transition: all .25s;
}
.nav-icon{
    width: 20px;
    height: 20px;
}
.nav-icon.active{
    fill:var(--secondary)
}
.nav-item{
    color: var(--text-color);
    flex-direction: column;
}
.nav-item.active{
    color: var(--secondary);
}
.logo-aside-menu{
    display: none;
}
.small-logo-aside{
    padding: 0 1rem;
    border-bottom: 1px solid var(--border-color);
    height: var(--header-height);
    justify-content: center;
}
/* .main-header.show{
    top: -100%;
} */
.main-header.show + .aside-menu{
    bottom: -100%;
}
.conversion-banner{
    width: 100%;
    border-radius: .25rem;
    background-image: linear-gradient(56deg,var(--dark) 13%,var(--dark-50));
    max-width: 200px;
    left: 50%;
    transform: translateX(-50%);
    color: var(--text-color-alt);
    padding: 1rem;
    position: absolute;
    bottom: 5rem;
    display: none;
    overflow: hidden;
}
.conversion-banner::before{
    content: "";
    width: 100%;
    height: 4px;
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(to right, #ff8983 17.85%, #7f0e7f 53.28%, #007a65 100%);
}
.content-search{
    position: absolute;
    border-radius: 0 0 .25rem .25rem;
    top: 100%;
    width: 100%;
    left: 0;
    background-color: var(--dark-50);
    overflow: hidden;
    height: 0;
    transition: all .25s;
}
.content-search.active{
    height: auto;
}
.content-search-item{
    padding: .5rem;
    transition: all .25s;
    display: none;
}
.content-search-item:hover{
    background-color: var(--dark);
}
.content-search-link:hover{
    color: var(--text-color-alt);
}
.content-search-link{
    color: var(--text-color);
    display: block;
}
.search-input::selection{
    background-color: rgba(0,0,0,.1);
}
.container-search{
    display: none;
}
.container-search.active{
    position: absolute;
    top: 0;
    width: 100%;
    height: calc(var(--header-height) - .5rem);
    background-color: var(--dark);
    display: flex;
    align-items: center;
}
.container-search.active > div > div + div{
    display: none;
}
.container-search.active > div > div{
    width: 100%;    
    grid-column-end: span 10;
}
.slider-home{
    background-image: linear-gradient(-180deg,  #002e3b, var(--dark-alt));
}
.course-aside-stiky{
    position: fixed;
    top: -100%;
    width: 100%;
    background-color: var(--dark);
    height: calc(var(--header-height) - .5rem);
    border-bottom: 1px solid var(--border-color);
    transition: all .25s;
}
.course-aside-stiky.show{
    top: 0;
}
.aside-stiky-img{
    height: 2rem;
    width: 2rem;
    overflow: hidden;
    border-radius: 50%;
    background-color: #122231;
}
.separator-landing-page{
    padding: 1rem;
}
.card.border-top-success::before,
.card.border-top-danger::before,
.card.border-top-primary::before,
.card.border-top-secondary::before,
.card.border-top-warning::before,
.card.border-top-success-50::before,
.card.border-top-light::before{
    content: "";
    width: 100%;
    top: 0;
    height: 4px;
    position: absolute;
    left: 0;
}
.card.border-top-success::before{
    background-color: var(--success);
}
.card.border-top-warning::before{
    background-color: var(--warning);
}
.card.border-top-danger::before{
    background-color: var(--danger);
}
.card.border-top-success-50::before{
    background-color: var(--success-50);
}
.card.border-top-primary::before{
    background-color: var(--primary);
}
.card.border-top-secondary::before{
    background-color: var(--secondary);
}
.card.border-top-light::before{
    background-color: var(--light);
}
.card{
    box-shadow:  0 0 5px 0 rgba(0,0,0,.07),0 5px 5px 1px rgba(0,0,0,.07);
    transition: all .25s;
}
.card:hover{
    box-shadow:  0 0 20px 1px rgba(0,0,0,.08),0 7px 20px 1px rgba(0,0,0,.08);
    transform: translateY(-1px);
}
.card-svg-course{
    width: 15px;
    height: 15px;
}
.clip-card-img{
    clip-path: polygon(0% 0%, 100% 0%, 100% 95%, 50% 100%, 0 95%);
}
.card-img-course-container{
    filter: saturate(60%);
}
.card-course:hover .card-img-course-container{
    filter: saturate(100%);
}
.card-course-type.course{
    background-color: rgba(0, 158, 206, 0.589);
    display: inline-flex;
    padding: 0.2rem .4rem;
}
.card-course-type.taller{
    background-color: rgba(70, 196, 101, 0.589);
    display: inline-flex;
    padding: 0.2rem .4rem;
}
.card-course-type.tutorial{
    background-color: rgba(250, 50, 50, 0.589);
    display: inline-flex;
    padding: 0.2rem .4rem;
}
.icon-facebook,
.icon-twitter,
.icon-youtube{
    background-color: rgba(0,0,0,.1);
    transition: all .25s;
}
.icon-facebook:hover,
.icon-twitter:hover,
.icon-youtube:hover{
    transform: scale(.98) translateY(-3px);
    background-color: var(--dark);
    box-shadow: 0 0 5px 1px var(--dark-alt);

}
.icon-facebook:hover{
    color: var(--primary);
}
.icon-twitter:hover{
    color: var(--secondary);
}
.icon-youtube:hover{
    color: var(--danger);
}
.footer-logo{
    width: 8rem;
}
.footer-and-footer{
    border-top: 1px solid var(--border-color);
}
.footer-item > a:hover{
    color: var(--success-50);
}
.footer-item > span:hover{
    color: var(--success-50);
    cursor: pointer;
}
.min-w-card-curso{
    min-width: 200px;
}
.s-scroll-y{
    overflow-y: auto;
}
.s-scroll-y::-webkit-scrollbar{
    height: 0;
	background-color: var(--border-color);
    cursor: pointer;
    border-radius: 10px;
}
.s-scroll-y::-webkit-scrollbar-thumb{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(255,255,255,.05);
	box-shadow: inset 0 0 6px rgba(255,255,255,.05);
    background-color: rgba(255,255,255,.05);
	border-right: 10px solid rgba(255,255,255,.05);
}
.s-scroll-y::-webkit-scrollbar-thumb:hover,
.s-scroll-y::-webkit-scrollbar-thumb:active {
  background-color: var(--dark);
}
.move-along-type-youtube{
    position: absolute;
    right: 0;
    top: 50%;
    background-color: var(--light);
    transform: translateY(-50%);
    cursor: pointer;
}
.s-scroll-y-none{
    overflow-y: hidden;
}
.s-scroll-x-hidden{
    overflow-x: visible;
}
.min-h-card-curso{
    min-height: 4.5rem;
}
.slider-profile-container{
    background-image: url(../assets/img/public/static/slider-mentor-home.jpg);
    background-position: center -150px;
    background-size: cover;
    animation: slider-profile-container-ani 2s ease-out infinite alternate-reverse;
}
@keyframes slider-profile-container-ani {
    0%{
        background-position: center -150px;
    }
    100%{
        background-position: center -160px;
    }
}
.slider-profile{
    min-height: 300px;
    padding: 150px 1rem 1rem 1rem;
    background: linear-gradient(transparent 50%, var(--body-dark) 50%);
}
.dark-img-gradient{
    background: -webkit-radial-gradient(50% 50%,88.22% 88.22%,#59b3f3 0,#0d66a7 100%);
    background: radial-gradient(88.22% 88.22% at 50% 50%,#ddce00 0,#b86901 100%);
}
.content-video-player {
    position: relative;
	padding-bottom: 56.25%;
	height: 0;    
    background-color: var(--dark-alt);
}
.content-video-player > iframe{
    position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
    
}
.content-video-player::before{
    content: "Selecciona un video";
    position: absolute;
    top: 50%;
    text-align: center;
    left: 50%;
    color: rgba(255,255,255,.2);
    font-size: var(--h2-font-size);
    transform: translateY(-50%) translateX(-50%);
}
.container-video-players{
    position: sticky;
    top: 0;
    width: 100%;
    z-index: var(--z-modal-alt);
}
.content-video-playlist{
    height: auto;
    overflow-y: auto;
    background-color: var(--dark-alt);
}
.content-video-playlist::-webkit-scrollbar{
    width: 5px;
	background-color: var(--border-color);
    cursor: pointer;
    border-radius: 10px;
}
.content-video-playlist::-webkit-scrollbar-thumb{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(255,255,255,.05);
	box-shadow: inset 0 0 6px rgba(255,255,255,.05);
    background-color: rgba(255,255,255,.05);
	/* border-right: 10px solid rgba(255,255,255,.05); */
}
.content-video-playlist::-webkit-scrollbar-thumb:hover,
.content-video-playlist::-webkit-scrollbar-thumb:active {
  background-color: var(--text-color-alt);
}
.temary-title{
    background-color: var(--dark);
    cursor: pointer;
}
.temary-content{
    background-color: rgba(255,255,255,.04);
    border-radius: 0 0 .25rem .25rem;
    height: 0;
    transition: all .25s;
}
.temary-subitem{
    transition: all .25s;
}
.temary-subitem:hover{
    background-color: var(--dark-alt);
    cursor: pointer;
    color: var(--text-color);
}
.temary-subitem.active{
    color: var(--danger);
    box-shadow: 2px 0 0 var(--danger) inset;
}
.temary-item{
    box-shadow: 0 0 10px rgba(255,255,255,.02);
}
.temary-item.active > .temary-title + .temary-content{
    border-top: 2px solid rgba(255,255,255,.05);
    height: auto;
}
.container-controls-videodescription{
   height: 0;
}
.container-controls-videodescription.active{
   height: auto;
}
.container-controls-videoplayer{
    background-color: var(--dark);
}
[data-class=before]::before{
    content: 'Cargando Video...';
    font-size: var(--normal-font-size);
    animation: loadingVideoPlayer .40s ease-in-out infinite alternate-reverse;
}
@keyframes loadingVideoPlayer {
    0% {
        color: rgba(255,255,255,.04);
    }
    100% {
        color: rgba(255,255,255,.2);
    }
}
.date-publication-video{
    color: rgba(255,255,255,.3);
    font-size: .7rem;
}
.btn-portlio{
    padding: 0.4rem 0.8rem;
    background-color: rgba(255,255,255,.05);
    transition: all .10s;
}
.btn-portlio:hover{
    transform: rotate(-2deg) scale(1.01);
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
}
.btn-portlio:active{
    box-shadow: 0 0 7px rgba(255,255,255,.06);
}
.proyect-hover-info{
    position: absolute;
    top: 0;
    transform: scale(0);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgba(255,255,255,.7);
    transition: all .25s;
    opacity: 0;
}
.proyect-main-info:hover .proyect-hover-info{    
    transform: scale(1);
    opacity: 1;
    border-radius: 0;
    background-color: rgba(0,0,0,.7);
}
.s-img-portfolio{
    max-width: 450px;
}
.aside-stiky-img-animate{
    animation: animateAsideStiky 1s ease-in-out infinite alternate;
}
@keyframes animateAsideStiky {
    0%{
        box-shadow: 0 0 5px 1px rgba(255,255,255,.06),
        0 0 0 0 rgba(255,255,255,.06);
    }
    50%{
        box-shadow: 0 0 5px 4px rgba(0, 255, 149, 0.15),
                    0 0 0 1px rgba(0, 255, 149, 0.15);
    }
    70%{
        box-shadow: 0 0 5px 4px rgba(1, 93, 146, 0.09),
                    0 0 0 1px rgba(1, 93, 146, 0.09);
    }
    100%{
        box-shadow: 0 0 5px 4px rgba(255, 60, 0, 0.09),
                    0 0 0 1px rgba(255, 60, 0, 0.09);
    }
}


.alert-course{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(18, 21, 51, 0.774);
    z-index: var(--z-modal-alt);
}
.alert-container-item{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    animation: alert-animation  1s;
    transition: all .25s;
    background-color: rgba(18, 21, 51, 0.877);
}
@keyframes alert-animation {
    0% {
        top: -100%;
    }
    60% {
        top: 50%;
    }
    80% {
        top: 40%;
    }
    100% {
        top: 50%;
    }
}
.bg-rgb-light-50{
    background-color: rgba(255,255,255,.02);
}
.video-item-icon-translate-15{
    transform: translateY(.15rem);
}
.loading-pages{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--body-dark);
    z-index: calc(var(--z-modal-alt) + 100);
}
.svg-container-logo-loading{
    width: 3rem;
    height: auto;
}
.phat-logo-loadgin-1,
.phat-logo-loadgin-2,
.fill-poligon-loagind-logo,
.fill-poligon-loagind-logo2{
    fill: transparent;
    stroke: rgba(255, 255, 255, .5);
    stroke-width: 1;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dashoffset: 760;
    stroke-dasharray: 760;
}
.phat-logo-loadgin-1{            
    animation: loading-logo-animate 5s forwards, 
                loading-logo-animate-fill-primary 1s forwards 5s, 
                loading-logo-animate-stroke-0 1s forwards 4.5s;
}
.phat-logo-loadgin-2{            
    animation: loading-logo-animate 5s forwards, 
                loading-logo-animate-fill-secondary 1s forwards 5s, 
                loading-logo-animate-stroke-0 1s forwards 4.5s;
}
.fill-poligon-loagind-logo{
    animation: loading-logo-animate 5s forwards 3.5s, 
                loading-logo-animate-poligon1 1s forwards 4.5s, 
                loading-logo-animate-stroke-0 1s forwards 4.5s;
}
.fill-poligon-loagind-logo2{
    animation: loading-logo-animate 5s forwards 3.5s, 
                loading-logo-animate-poligon2 1s forwards 4.5s, 
                loading-logo-animate-stroke-0 1s  4.5s;
}

.phat-logo-loading-fill {
    fill: #294B6B;
}
@keyframes loading-logo-animate {
    to {                
        stroke-dashoffset: 0;
    }
}
@keyframes loading-logo-animate-fill-primary {
    to {                
        fill: #0779E4;
    }
}
@keyframes loading-logo-animate-fill-secondary {
    to {                
        fill: #294B6B;
    }
}
@keyframes loading-logo-animate-poligon1 {
    to {                
        fill: #0C5DA8;
    }
}
@keyframes loading-logo-animate-poligon2 {
    to {                
        fill: #1F3952;
    }
}
@keyframes loading-logo-animate-stroke-0 {
    to {                
        stroke-width: 0;
    }
}
.max-width-parrafo-loading{
    max-width: 360px;
}


@media screen and (min-width:1024px) {
    .main-header{
        grid-template-columns: auto 1fr;
        padding-right: 2.5rem;
        height: var(--header-height);
        width: calc(100% - 4.25rem);
    }
    .aside-menu{
        width: 4.25rem;
        top: 0;
        height: 100%;
        padding: 0;
        border-top: none;
        border-right: 1px solid var(--border-color);
    }
    .aside-menu.show{
        width: 240px;
    }
    .nav-aside{
        padding: 1rem 0;
    }
    .nav-item{
        flex-direction: row;
        padding: .7rem 1.5rem;
        transition: all .25s;
        justify-content: center;
    }
    .aside-menu.show  .nav-item{
        justify-content: flex-start;
    }
    .nav-item:hover{
        background-color: var(--dark-alt);
    }
    .nav-item > span{
        width: 0;
        overflow: hidden;
    }
    .aside-menu.show .nav-item > span{
        padding-left: 1rem;
        width: auto;
    }
    .aside-menu.show  .logo-aside-menu{
        display: flex;
    }
    .aside-menu.show  .small-logo-aside{
        justify-content: space-between;
    }
    .header-actions  > button{
        margin-right: 1rem;
    }
    .aside-menu.show .conversion-banner{
        display: block;
    }
    .container-search{
        position: static;
        display: block;
    }
    .img-slider-home-max{
        max-width: 500px;
    }
    .slider-home{
        min-height: 590px;
    }
    .main-header.show{
        top: 0;
    }
    .course-aside-stiky.show{
        top: 0;
        left: calc(var(--header-height) + .25rem);
        height: var(--header-height);
        width: calc(100% - 4.25rem);
    }
    .separator-landing-page{
        padding: 2rem 2rem 2rem 1rem;
    }
    .slider-profile{
        min-height: 300px;
        padding: 150px 2.5rem 1rem 1rem;
    }
    .container-video-players{
        z-index: var(--z-tooltip);
    }
    .content-video-playlist{
        height: calc(100vh - 4rem);
    }
    .container-controls-videodescription{
        height: auto;
     }
}

@media screen and (max-width:1024px){
    .header-main-video-player{
        padding-top: 0;
    }
    body.header-main-video-player header {
        display: none;
    }
}